PORT=5000
NODE_ENV=development
FRONTEND_URL=https://your-frontend.onrender.com

MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/dbname
JWT_SECRET=replace_me
JWT_EXPIRES_IN=7d

BREVO_API_KEY=replace_me
BREVO_SENDER_EMAIL=no-reply@zenmind.app
BREVO_SENDER_NAME=ZenMind

